{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati explicabo veniam tenetur eos temporibus architecto alias impedit, blanditiis voluptatum quae quisquam cumque. Nam tempora doloribus error odio reprehenderit ipsam.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/liferay.png" alt="about" class="img-thumbnail">
    </div>
</div>

{{> footer}}